html {
    background-color: rgb(211, 211, 211);
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: #FFF;
    text-align: center;
    margin: 50px auto;
    max-width: 1100px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    border: 2px solid rgb(61, 19, 160);
}

ol, ul {
    background-color: #FFF;
    width: 300px;
    height: 70px;
}

li {
    margin-bottom: 5px;
    text-align: center;
}

