@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #e7e7e7;
    min-height: 100vh;
    background-color: #f0f0f0;
}


#container {
    -webkit-box-shadow: 1px 1px 13px 3px rgba(177, 177, 177, 0.64); 
    box-shadow: 1px 1px 13px 3px rgba(78, 78, 78, 0.64);
    width: 50rem;
    height: 300px;
    margin: 5rem auto;
    padding: 20px;
    text-align: center;
    background-color: #cce0df;
}

input, select, button {
    padding: 0.5rem;
    margin: 2rem 0.3rem 0 0;
    cursor: pointer;
}


#btn-submit, #btn-limpar {
    border: none;
    transition: 0.5s;
}

#btn-submit {
    display: flex;
    margin: 2rem auto;
    background-color:  #2E8B57;
    color:  #FFFFFF;
    border-radius: 5px;
}

#btn-submit:hover {
    background-color:#247045;
    border-radius: 2px;
}



#btn-limpar {
    background-color:  #2E8B57;
    color:  #FFFFFF;
    border-radius: 5px;
    
}

#btn-limpar:hover {
    background-color: #247045;
    border-radius: 2px;
}

.bi {
    font-size: 1rem;
    cursor: pointer;    
    color: #fff;
} 

#btn-inverter {
    width: 5rem;
    border: none;
    background-color: #2E8B57;
    border-radius: 5px;
    transition: 0.5s;
}

#btn-inverter:hover {
    background-color: #247045;
    border-radius: 2px;
}

#paragrafo-resultado {
    font-weight: bold;
}

#erro-converter {
    color: #ec5353;
    font-weight: 600;
}

#mensagem-usuario {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #c7c7c7;
}

#mensagem-usuario, p {
    margin-top: 0.8rem;
}

button, #botao-aceitar-mensagem {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.oculto {
    display: none;
}

/* RESPONSIVIDADEE */

@media screen and (max-width: 430px) {
    #container {
      max-width: 80%;
      height: 35rem;
      display: grid;
    }
  
    #first-select {
      margin-bottom: 2rem;
    }
  
    #second-select {
      margin-bottom: 2rem;
    }
  
    #btn-submit {
      display: flex;
      background-color: #2e8b57;
      color: #ffffff;
      border-radius: 5px;
      align-items: center;
  
    }
  
    #btn-limpar {
      width: 70%;
      margin: 0 auto;
      display: block;
    }
  
    .bi {
      font-size: 1rem;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    #btn-inverter {
      margin: 0 auto;
    }
  
  }
